html{
    font-family: Arial, Helvetica, sans-serif;
}

.centralizar{
    justify-content: center;
}

.papelParede{
    background-image: url('imagens/tela-inicial.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.gifMonstro{
    background-image: url('imagens/monstro.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.item:hover{
    filter: brightness(40%);
}

.item1{
    background-image: url('imagens/item1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.item2{
    background-image: url('imagens/item2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.item3{
    background-image: url('imagens/item3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.item4{
    background-image: url('imagens/item4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.item5{
    background-image: url('imagens/item5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.item6{
    background-image: url('imagens/item6.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.gifPlayer{
    background-image: url('imagens/player.gif');    
    background-size: contain;
    background-repeat: no-repeat;
}

#app{
    display: flex;
    flex-direction: column;
}

.panel{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);    
}

/** Pontos  - start **/
.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
    font-size: 1.6rem;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}

.life-bar .life.danger {
    background-color: red;
}

.atributos-bar {
    width: 80%;
    height: 10px;
    border: 1px solid #AAA;
}

.atributos-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}

.atributos-bar .life.mana {
    background-color: #7da9f0;
}

/** Pontos - end **/

.result{
    justify-content: center;
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win{
    background-color: green;
    color: white;
}

.result .lose{
    background-color: red;
    color: white;
}

.buttons{
    display: flex;
    justify-content: center;
}

.btn{
    margin: 0px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.new-game{
    background-color: #4253af;
    color: white;
}

.attack{
    background-color: red;
    color: white;
}

.especial-attack{
    background-color: #ff9800;
    color: white;
}

.heal{
    background-color: green;
    color: white;
}

.give-up{
    background-color: grey;
    color: white;
}

/* Logs */

.logs ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs ul li {
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    padding: 3px 0px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
}

.player{
    background-color: #4253afaa;
    color: white;
}

.monster{
    background-color: #e51c23aa;
    color: white;
}

.healLog{
    background-color: rgba(0, 128, 0, 0.733);
    color: white;
}